html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background: url(img/bg.png); }
html, button, input, select, textarea { font-family: sans-serif; color: #333; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #FF9933; color: #fff; text-shadow: none; }
::selection { background: #FF9933; color: #fff; text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
/* a { color: #00e; } */
/* a:visited { color: #551a8b; }
a:hover { color: #06e; } */
a:focus { outline: thin dotted; }
/* a:hover, a:active { outline: 0; } */

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure { margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* =============================================================================
   General Styles
   ========================================================================== */
.header { text-align: center; padding-bottom: 20px; }
.header h1 { text-align: center; text-shadow: 0 1px #FFF; }
.header h1 img { vertical-align: text-bottom; }
.center { width: 860px; margin: 0 auto; padding: 20px; }

pre { font-size: .8em; border: 1px solid #EEE; background: #f9f9f9; padding: 6px 8px; color: #333; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
table { width: 100%; background: #f9f9f9; }
table td { border: 1px solid #EEE; padding: 6px 8px; }
label p { font-size: 12px; margin: 0; }

.clear { clear: both; }

.button-group { text-align: center; padding: 10px 0 0; }

.bt {
	background: #ff7a4d; /* Old browsers */
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(top,  #ffa64d 0%, #ff7a4d 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa64d), color-stop(100%,#ff7a4d)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  #ffa64d 0%,#ff7a4d 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  #ffa64d 0%,#ff7a4d 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  #ffa64d 0%,#ff7a4d 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  #ffa64d 0%,#ff7a4d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa64d', endColorstr='#ff7a4d',GradientType=0 ); /* IE6-8 */
	border: 1px solid #ff7a4d;
	padding: 20px 30px;
	display: inline-block; vertical-align: top; zoom: 1; *display: inline;
	color: #FFF;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px #999;
	        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px #999;
	-webkit-transition: all .1s; -moz-transition: all .1s; -ms-transition: all .1s; -o-transition: all .1s; transition: all .1s;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	text-decoration: none;
}
.bt:hover {
	background-position: 0 -20px;
	color: #FFF;
}
.bt:active {
	background-position: 0 -60px;
}
.bt:focus { outline: thin dotted #F90; }
.bt:visited { color: #FFF; }

.link { color: #999; font-size: 14px; margin: 10px; display: inline-block; vertical-align: top; zoom: 1; *display: inline; text-decoration: none; }
.link:hover { color: #F60; }

.copy { font-size: 12px; color: #999; border-top: 1px solid #E5E5E5; box-shadow: 0 1px 0 0 #FFF; }
.copy a { color: #444; text-decoration: none; }
.copy a:hover { color: #F60; }